
<div class="m-downapp clearfix">
	<div class="app-close fl">
		<em class="icon-close"></em>
	</div>
	<div class="open-content fl clearfix">
		<div class="app-logo fl">
			<img src="https://css.meixincdn.com/m/h5/dist/images/gome_icon.png"/>
		</div>
		<div class="app-tit fl">
			<p class="registered">注册送好礼</p>
            <p class="desc">首单再送158元</p>
		</div>
		
	</div>
	<div class="app-btn fr">
		<a href="javascript:;">戳我打开</a>
	</div>
</div>
