<div class="m-dialog " style="display: block; z-index: 9999;">
    <div class="dialog-tit ">在手机浏览器打开我会更好看哦!</div>    
    <div class="dialog-txt hidden"></div>
    <div class="dialog-btn">
        <div class="" id="confirmMod">确认</div>
    </div>
</div>