<div class="m-dialog m-dialog-auto">
    <div class="dialog-tit">1111</div>    
    <div class="dialog-txt">1111</div>
    <div class="dialog-btn"><div id="cancelMod">取消</div><div id="confirmMod">确定</div>
    </div>
</div>