<div class="m-share-bottom" style="bottom: 0%; transition: bottom 0.5s ease-out; opacity: 0.98; z-index: 40010;">
    <ul class="share-list">
        <li class="item">
            <a href="javascript:;" class="weibo">
                <em class="share-icon"></em>
                <p class="share-txt">微博</p>
            </a>
        </li>
        <li class="item">
            <a href="javascript:;" class="weixin">
                <em class="share-icon"></em>
                <p class="share-txt">微信</p>
            </a>
        </li>
        <li class="item">
            <a href="javascript:;" class="friends">
                <em class="share-icon"></em>
                <p class="share-txt">朋友圈</p>
            </a>
        </li>
        <li class="item">
            <a href="javascript:;" class="qq">
                <em class="share-icon"></em>
                <p class="share-txt">QQ</p>
            </a>
        </li>
        <li class="item">
            <a href="javascript:;" class="qzone">
                <em class="share-icon"></em>
                <p class="share-txt">QQ空间</p>
            </a>
        </li>
    </ul>
    <a href="javascript:;" class="share-close">取消</a>
</div>
<div class="m-mask-private" style="display: block;"></div>
<div class="m-share-top"></div>